<!DOCTYPE html>
<html>

    <head>

        <title>v0lture Portfolio Template</title>

        <!-- Materialize -->
        <link rel="stylesheet" href="css/materialize.min.css">
        <link rel="stylesheet" href="css/style.css">

        <!-- JS -->
        <script src="js/jquery.min.js"></script>
        <script src="js/materialize.min.js"></script>
        <script src="js/app.js"></script>

        <!-- Icon font -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    </head>

    <body>
        <h1>Hello world</h1>
    </body>

</html>